/*General styles*/

* {
    box-sizing: border-box;
}

body {
    background-color: #3CDBC0;
    margin:0 auto;
    color: #4a4a4a;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.container {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;

}

/*Header*/
.head-section {
    width:100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position:fixed;   
}


.logo {
    margin-top: 10px auto 0 auto;
    height: 61px; 
}

.menu-list {
    display:flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
}

.menu-item {
    text-transform: uppercase;
    list-style: none;
    display:block;
}

.menu-link {
    text-decoration: none;
    color:inherit;
    padding: 10px 10px 13px 10px;
}

/*Main content*/
.main-content {
    flex-grow: 1;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.claim-container {
    width: 250px;
}

.claim {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}


/*Tablet styles*/

@media all and (min-width:768px) {
    .head-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        margin:20px 30px;
    }

    .menu-link {
        padding-bottom: 10px;
    }

    .menu {
        margin:0 20px;
    }

    .claim {
     font-size: 40px;   
    }
}